dist/
doc/dbupdates/*.ok
doc/dbupdates/*.fail
.htaccess
.*swp
*.bak
upload
.DS_Store
config.php
config-auto.php
composer.phar
composer.lock
/vendor/*
/atk4-addons/*
/atk4-ide/*
.idea
atk4_addons.json



atk4-ide
atk4-ide.phar

agiletoolkit-css/

agiletoolkit-sandbox/

app/admin/public/rvadym_languages

agiletoolkit-css
